@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {

    --fontePrincipal: 'Playfair Display', serif;
    --fonteSecundaria: 'EB Garamond', serif;

    --corPreto: #0D0D0D;
    --corBranco: #FFFFFF;
    --corCinza: #D7D7D9;

    --corVermelho: #BF0404;
    --corRosa: #BF3B53;

    --corAzul: #035AA6;
    --corAzulCaro: #1DCBF2;

}



/* Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--fonteSecundaria);
}

body {
    min-height: 1000px;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.row .col100 {
    position: relative;
    width: 96%;
}

.titleText {
    color: var(--corPreto);
    font-size: 2em;
    font-weight: 300;
    font-family: var(--fontePrincipal);
}

.titleText span {
    color: var(--corVermelho);
    font-weight: 700;
    font-size: 1.5em;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Default */



/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 10000;
    transition: 0.5s;
    align-items: center;
    padding: 40px 100px;
    justify-content: space-between;
}

header.sticky {
    padding: 10px 100px;
    background: var(--corBranco);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    font-size: 3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--corBranco);
    font-family: var(--fontePrincipal);
}

header.sticky .logo {
    color: var(--corPreto);
}

header .logo span {
    color: var(--corVermelho);
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: var(--corBranco);
}

header.sticky .navigation li a {
    color: var(--corPreto);
}

header .navigation li a:hover {
    color: var(--corVermelho);
}

/* Header */



/* Banner Home */

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imgs/01.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 6em;
    color: var(--corBranco);
    font-family: var(--fontePrincipal);
}

.banner .content p {
    font-size: 1.5em;
    color: var(--corBranco);
}

/* Banner Home */



/* Sobre */

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sobre */



/* Equipe */





/* Equipe */



/* Video */

.video {
    text-align: center;
}

.rowVideo {
    place-content: center;
}

.row .col100 .titleTextVideo {
    margin-bottom: 5%;
}

.row .col100 .videoBx iframe{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

/* Video */



/* Fale conosco */

.contact {
    background: url(../imgs/02.jpg);
    background-size: cover;
}

.contact .title p {
    margin-top: 2%;
    font-size: 1.25rem;
}

.contactForm {
    max-width: 500px;
    margin-top: 50px;
    padding: 75px 50px;
    background: var(--corBranco);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.contactForm h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--corPreto);
}

.contactForm form .inputBox {
    width: 100%;
    position: relative;
    margin-bottom: 20px;     
}

.contactForm form .inputBox input, .contactForm form .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color: var(--corPreto);
    border: 1px solid var(--corCinza);
}

.contactForm form .inputBox input[type="submit"] {
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    color: var(--corBranco);
    text-transform: uppercase;
    background: var(--corVermelho);
}

.contactForm form .inputBox input[type="submit"]:hover {
    color: var(--corVermelho);
    background: var(--corBranco);
    border: 1px solid var(--corVermelho);
}









































@media (max-width: 991px) {
    header, header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.9);
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: var(--corPreto);
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../imgs/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: 0.2s;
    }

    .menuToggle.active {
        background: url(../imgs/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.2s;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 3em;
        color: var(--corBranco);
    }

    .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }

    .title {
        text-align: center;
    }

    .titleText {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .contactForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .banner .content h2 {
        font-size: 2.2em;
        color: var(--corBranco);
    }
}